USE [CalculatorTestsDB]
GO
/****** Object:  Table [dbo].[TestData_Mult]    Script Date: 9/29/2026 11:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestData_Mult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestCaseName] [nvarchar](100) NOT NULL,
	[ParamA] [bigint] NOT NULL,
	[ParamB] [bigint] NOT NULL,
	[ExpectedResult] [int] NULL,
	[ExpectedError] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TestData_Mult] ON 

INSERT [dbo].[TestData_Mult] ([Id], [TestCaseName], [ParamA], [ParamB], [ExpectedResult], [ExpectedError]) VALUES (1, N'Multiply positive numbers', 6, 7, 42, NULL)
INSERT [dbo].[TestData_Mult] ([Id], [TestCaseName], [ParamA], [ParamB], [ExpectedResult], [ExpectedError]) VALUES (2, N'Multiply positive and negative', 12, -5, -60, NULL)
INSERT [dbo].[TestData_Mult] ([Id], [TestCaseName], [ParamA], [ParamB], [ExpectedResult], [ExpectedError]) VALUES (3, N'Multiply two negative numbers', -8, -9, 72, NULL)
SET IDENTITY_INSERT [dbo].[TestData_Mult] OFF
GO
